* {
    background-color: beige;
}


header {
    display: flex;
    background: #13293d;
    color: #fff;
    align-items: center;
    justify-content: space-between;
}

.page-wrapper {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.page-section {
    display: flex;
    flex: 0 0 20%;
    border-right: 5px solid blue;
    font-size: 50px;
    color: steelblue;
}

.about-me {
    font-size: 20px;
    color: green;
    display: flex;
    flex-flow: wrap;
    /* justify-content: start; */

}

p {
    width: 50%;
    display: flex;
    justify-content: start;
    size: 5px;
}


.work {
    display: flex;
    color: #13293d;
    text-decoration: none;

}


.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;


}

.small-image {
    flex: wrap;
    justify-content: row;
    background-color: #b9c6ae;
    padding: 80px;
    text-align: left;
}

.contact {

    display: flex;
    justify-content: space-evenly;
    width: 100%;
}


/* .head {

    font-size: 50px;
    color: steelblue;
    display: flex;
    width: 45%;
    flex: 0 0 20% ;
    border-right: 5px solid rgb(0, 77, 29);

} */

/* .list {
    display: inline;
    padding: 20px;
} */

/* body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
} */