/* * {
    background-color: beige;
} */


 header {
    display: flex;
    background-image: url(/assets/images/water.jpg);
    background-color: steelblue;
    /* color: rgb(3, 1, 1); */
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 20% ; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
 /* #styledimg {
    background-image:url(/assets/images/water.jpg) ;
    width: 100%;
 } */


.page-wrapper {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.page-section {
    font-size: 20px;
    color: green;
    display: flex;
    width: 80%;
}

p {
    margin: 0 0 0 10% ;
}

/* .page-section {
    display: flex;
    flex: 0 0 20%;
    border-right: 5px solid blue;
    font-size: 50px;
    color: steelblue;
} */



#about-me {
    display: flex;
    flex: 0 0 15%;
    border-right: 3px solid steelblue;
    font-size: 45px;
    color: steelblue;
    justify-content: flex-end;
}
    /* justify-content: start; */
    /* this section went inside the section element above the h2  */

/* } */

p {
    width: 50%;
    display: flex;
    justify-content: start;
    size: 5px;
}


.work {
    display: flex;
    color: #13293d;
    text-decoration: none;

}


.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;


}

.small-image {
    flex: wrap;
    justify-content: row;
    background-color: #b9c6ae;
    padding: 80px;
    text-align: left;
}

.contact {
    
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}


/* .head {

    font-size: 50px;
    color: steelblue;
    display: flex;
    width: 45%;
    flex: 0 0 20% ;
    border-right: 5px solid rgb(0, 77, 29);

} */

/* .list {
    display: inline;
    padding: 20px;
} */

/* body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
} */